# Virtual environments
venv/
.venv/
__pycache__/

# Documentos sensibles
*.pdf
*.jpg
*.png

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Batch processing folders
input_docs/
output_reports/


# Temporary API uploads
temp_uploads/